# Sentinel Agent Configuration

# Device Details (If left empty, hostname & MAC address hash will be used)
DEVICE_ID=
DEVICE_NAME=

# Backend Configuration
BACKEND_URL=http://localhost:8000
BACKEND_WS_URL=ws://localhost:8000
DEVICE_API_KEY=your_generated_device_api_key_here

# Cloudinary Integration (Required for screenshots/webcam capture)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
